@model Teste_FitCard.Models.Estabelecimento

@{
    ViewData["Title"] = "Deletar";
    List<Categoria> categorias = ViewBag.Categorias;
}

<h1>Tem certeza que deseja deletar?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeFantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeFantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataDeCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataDeCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCategoria)
        </dt>
        <dd class="col-sm-10">
            @categorias.Where(x => x.id == Model.idCategoria).FirstOrDefault().nome
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.conta)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="submit" value="Deletar" class="btn btn-danger btn-lg float-right" /> 
        <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar</a>
    </form>
</div>
